.table1 {
	font-family: sans-serif;
	color: #444;
	border-collapse: collapse;
	width: 40%;
	border: 1px solid #f2f5f7;
}

.table1 tr th{
	background: #35A9DB;
	color: #fff;
	font-weight: normal;
}

.table1, th, td{
	padding: 8px 20px;
}

.table1 tr:nth-child(even) {
	background-color: #f2f2f2;
}